<small>Edit these docs on GitLab</small>
<a href="https://gitlab.com/districraft/artemis-docs"><img src="https://badgen.net/badge/Gitlab/Artemis Docs/orange?icon=gitlab"></a>

<p>Using <a href="https://gohugo.io/">Hugo</a> and the <a href="https://github.com/matcornic/hugo-theme-learn">hugo-theme-learn</a> theme.</p>

<hr>

<p>Copyright (C) 2020 Jakub Sycha, Districraft and Contributors.</p>
<br>
<p>Permission is granted to copy, distribute and/or modify this document
    under the terms of the GNU Free Documentation License, Version 1.3
    or any later version published by the Free Software Foundation;
    with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts.
    A copy of the license is included <a href="fdl.txt">here</a>.</p>